#{extends 'main.html'/}
#{set title: 'Users'/}
#{set active:'users'/}

<div class="container">
  <div id="lB">
      <div class="row">
          <div class="span9">
            <table class="table table-bordered">
            	<thead>
            		<th>Userame</th>
            		<th>Site</th>
            	</thead>	
            	<tbody>
            	#{list items:users, as:"user"}
            	<tr>
            		<td>${user.username}</td>
            		<td>${user.host}</td>            		
            	</tr>	
            	#{/list}
            	</tbody>
            </table>	
         </div>
       </div>  
</div>
</div>
