#{extends 'main.html' /}
#{set title:'Home' /}
<a href="@{Application.create()}">New Site</a>
<ul>
#{list items:sites, as:'site'}
    <li><span>${site.host}</span>
    <a href="@{Application.refresh( site.id )}">refresh</a>
    <a href="@{Application.removeResources(site.host)}">drop</a>
    <a href="@{Application.removeSite(site.id)}" onclick="javascript:return confirm("are you sure?");">remove</a>
    <a target="_blank" href="@{Application.preview( site.id ) }">preview</a>
    </li>
#{/list}
</ul>