#{extends 'Application/manageSite.html'/}

<div class="row">
		<form action="/_cms/upload" class="dropzone">
		  <div class="fallback">
		    <input name="file" type="file" multiple />
		  </div>
		</form>
	
	<div class="span5">
		<table class="table">
			<thead>
				<tr>
					<th>Data Sets</th>
					<th>Download</th>
				</tr>	
			</thead>	
			<tbody>
			<tr>
				<td>Users</td>
				<td><a href="#">Download</a></td>
			</tr>
			</tbody>	
		</table>	
	</div>
	<div class="span5">
		<form action="/_cms/upload" class="dropzone">
		  <div class="fallback">
		    <input name="file" type="file" multiple />
		  </div>
		</form>
		<form action="/_cms/upload" class="dropzone">
		  <div class="fallback">
		    <input name="file" type="file" multiple />
		  </div>
		</form>		
	</div>	
</div>

