#{extends 'main.html' /}
#{set title:'Edit website' /}


<div class="container">
<p>
    <a href="/_cms">Back to sites</a>    
</p>
<div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="${tab=='info'?'active':''}">
            <a href="@{Application.viewSite(site.id)}">Site Info</a></li>
          <li class="${tab=='resources'?'active':''}">
            <a href="@{Application.viewResources(site.id)}" >Resources</a>
          </li>
          <li class="${tab=='transactions'?'active':''}">
            <a href="@{Application.viewTransactions(site.id)}">Request Transactions</a>
          </li>
          <li class="${tab=='rules'?'active':''}">
            <a href="@{Application.viewRules(site.id)}">Security Rules</a>
          </li>
        </ul>
        <div class="tab-content">
          #{doLayout /}
        </div>
      </div>
      
</div>